@media (min-width: 1260px) {
    .container {
      width: 1200px;
      max-width: 1200px;
    }
  }

@media (min-width: 1360px) {
  .container {
    width: 1300px;
    max-width: 1300px;
  }
}

@media (min-width: 1500px) {
  .container {
    width: 1400px;
    max-width: 1400px;
  }
}

@media (min-width: 1600px) {
  .container {
    width: 1500px;
    max-width: 1500px;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 1674px;
    max-width: 1674px;
  }
}


.page-wrapper {
    background-color: $brown-dark;
}
.page-wrapper-quote {
    background-color: #F6F7F9;
    overflow: hidden;
}

.default-form {
    label.control {
        display: block;
        font-family: $fil-light;
        font-size: 20px;
        line-height: 34px;
        text-align: left;
        color: $brown-light;
        margin-bottom: 20px;
        @include bp(md) {
            font-size: 1.2em;
        }
        @include bp(sm-down) {
            font-size: 1em;   
        }
    }
    .label-check {
        .checkbox {
            label {
                font-family: $fil-reg;
                font-size: 20px;
                text-align: left;
                color: $brown-light;
                @include bp(md) {
                    font-size: 1.2em;
                }
                @include bp(sm-down) {
                    font-size: 1em;   
                }
            }
        }
        .radiobox {
            &:hover {
                cursor: pointer;
            }
            label {
                font-family: $fil-reg;
                font-size: 1em;
                text-align: left;
                color: #373a3c;
                position: relative;
                padding-left: 30px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=number],
    .bootstrap-select .btn,
    textarea {
        @include input-style;
        @include animate-fade;
    }
    textarea {
        height: 272px;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .bootstrap-select {
        width: 100%!important;
        .btn {
            line-height: normal;
            color: #818A91;
            &:after {
                @include centre(y);
                right: 25px;
                font-family: "icomoon";
                font-weight: normal;
                font-size: 27px;
                color: #818a91;
                margin: 0;
                border: 0;
                content: "\e908";
                @include animate-fade;
            }
            &:focus {
                outline: none!important;
            }
        }
        .dropdown-toggle {
            .filter-option {
                height: auto;
            }
        }
        .bs-searchbox {
            input[type=text] {
                height: auto;
            }
        }
        .dropdown-item.active, .dropdown-item:active {
            background-color: #fc4d18;
        }
        &.show, &.open {
            .btn {
                &:after {
                    transform: translate(0, -50%) rotate(-180deg);
                    -webkit-transform: translate(0, -50%) rotate(9-180eg);
                    -moz-transform: translate(0, -50%) rotate(-180deg);
                    -ms-transform: translate(0, -50%) rotate(-180deg);
                    -o-transform: translate(0, -50%) rotate(-180deg);
                    transform: translate(0, -50%) rotate(-180deg);
                }
            }
        }
    }
    .form-group {
        margin-bottom: 30px;
    }
    button[type=submit] {
        @include form-btn;
    }
    input:focus::placeholder {color:transparent;}
    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; }
    input:focus::-moz-placeholder { color:transparent; } 
    input:focus:-ms-input-placeholder { color:transparent; }
}

//404
#error-page {
    @extend #masheader;
    padding-bottom: 190px;
    @include bp(desktop) {
        padding-bottom: 140px;
    }
    @include bp(lg) {
        padding-bottom: 95px;
    }
    @include bp(md) {
        padding-bottom: 80px;
    }
    @include bp(sm-down) {
        padding-bottom: 60px;
    }
    .header-caption {
        .header-text {
            min-height: 135px;
        }
    }
    .quote-btn {
        margin-right: 0!important;
    }
}

//Regular Pages
#regular-page {
    padding-top: 70px;
    padding-bottom: 150px;
    @include bp(desktop) {
        padding-bottom: 100px;
    }
    @include bp(lg) {
        padding-bottom: 95px;
    }
    @include bp(md) {
        padding-bottom: 80px;
    }
    @include bp(sm-down) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    h2 {
        max-width: 1644px;
        margin-left: auto;
        margin-right: auto;
        @include heading-font;
        margin-top: 100px;
        margin-bottom: 80px;
        @include bp(desktop) {
            margin-top: 80px;
            margin-bottom: 70px;
        }
        @include bp(lg) {
            margin-top: 70px;
            margin-bottom: 60px;   
        }
        @include bp(md) {
           margin-top: 60px;
           margin-bottom: 40px;
        }
        @include bp(sm-down) {
            margin-top: 60px;
            margin-bottom: 40px;
        }
    }
    h3,
    h4,
    p,
    ul {
        max-width: 1061px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    h3 {
        @include subheading-font;
        margin-top: 90px;
        margin-bottom: 45px;
        @include bp(desktop) {
            margin-top: 80px;
            margin-bottom: 40px;
        }
        @include bp(lg) {
            margin-top: 70px;
            margin-bottom: 35px;   
        }
        @include bp(md) {
           margin-top: 60px;
           margin-bottom: 30px;
        }
        @include bp(sm-down) {
            margin-top: 60px;
            margin-bottom: 30px;
        }
    }
    h4 {
        font-family: $fil-med;
        font-size: 1.625em;
        line-height: 1.385;
        text-align: center;
        color: $brown-light;
        margin-top: 75px;
        margin-bottom: 30px;
        text-transform: uppercase;
         @include bp(desktop) {
            margin-top: 65px;
            font-size: 1.55em;
        }
        @include bp(lg) {
            margin-top: 55px; 
            font-size: 1.4em;
        }
        @include bp(md) {
           margin-top: 50px;
           font-size: 1.3em;
        }
        @include bp(sm-down) {
            margin-top: 45px;
            margin-bottom: 25px;
            font-size: 1.2em;
        }
    }
    p {
        @include regular-text;
        strong {
            font-weight: normal;
            font-family: $fil-bold;
        }
        a {
            color: $red;
            text-decoration: underline;
            &:hover {
                color: $yellow;
                text-decoration: none;
            }
        }
    }
    ul {
        margin-bottom: 30px;
        list-style: disc;
        padding-left: 1.5em;
        li {
            @include regular-text;
            margin-bottom: 25px;
            a {
                color: inherit;
                &:hover {
                    color: $red;
                }
            }
        }
    }
}

//contact page
#contact-page {
    padding-top: 290px;
    padding-bottom: 150px;
    @include bp(desktop) {
        padding-top: 220px;
        padding-bottom: 100px;
    }
    @include bp(lg) {
        padding-top: 170px;
        padding-bottom: 95px;
    }
    @include bp(md) {
        padding-top: 140px;
        padding-bottom: 80px;
    }
    @include bp(sm-down) {
        padding-top: 120px;
        padding-bottom: 60px;
    }
    h1 {
        @include page-title;
        margin-bottom: 35px;
        text-align: left;
        @include bp(md-down) {
            text-align: center;
        }
    }
    p, address {
        display: block;
        font-family: $fil-light;
        font-size: 1.250em;
        line-height: 1.7;
        text-align: left;
        color: $brown-light;
        margin-bottom: 5px;
        @include bp(md) {
            font-size: 1.2em;
        }
        @include bp(sm-down) {
            font-size: 1em;   
        }
        a {
            color: inherit;
            &:hover {
                color: $yellow;
                text-decoration: none;
            }
        }
    }
    address {
        margin-top: 15px;
    }
    .default-form {
         @include bp(md-down) {
            margin-top: 40px;
         }
    }
}



//pagination
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    .page-link {
        position: relative;
        display: block;
        padding: 1rem 1.7rem;
        margin-left: -1px;
        line-height: 1.25;
        color: $yellow;
        background-color: $brown;
        border: 1px solid #ddd;
        font-family: $fil-reg;
        font-size: 26px;
        @include bp(desktop) {
            font-size: 24px;
            padding: .9rem 1.6rem;
        }
        @include bp(lg) {
            font-size: 22px;
            padding: .8rem 1.5rem;
        }
        @include bp(md) {
            font-size: 20px;
            padding: .7rem 1.4rem;
        }
        @include bp(sm-down) {
            font-size: 18px;
            padding: .6em 1.3rem;
        }
        &:hover {
            color: $yellow;
            text-decoration: none;
            background-color: #e9ecef;
            border-color: #dee2e6
        }
        &:focus {
            z-index: 2;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
        }
        // Opinionated: add "hand" cursor to non-disabled .page-link elements
        &:not(:disabled):not(.disabled) {
            cursor: pointer;
        }
    }
    .page-item {
        &:first-child {
            .page-link {
                margin-left: 0;
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0.25rem
            }
        }
        &:last-child {
            .page-link {
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem
            }
        }
        &.active .page-link {
            z-index: 1;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        &.disabled .page-link {
            color: #6c757d;
            pointer-events: none;
            cursor: auto;
            background-color: #fff;
            border-color: #dee2e6;
        }
    }
    li:focus {
        outline: none!important;
        box-shadow: none!important;
    }
    > a, 
    > a:hover, 
    > a:focus, 
    > li > a, 
    > li > span, 
    > li > a:hover, 
    > li > span:hover, 
    > li > a:focus, 
    > li > span:focus {
        color: $yellow;
        outline: none!important;
        box-shadow: none!important;
    }
    a:hover, 
    a:focus,
    >.active>a,
    >.active>span,
    >.active>a:hover,
    >.active>span:hover,
    >.active>a:focus,
    >.active>span:focus,
    .page-item.active .page-link {
        background-color: $yellow !important;
        border-color: $yellow;
        color: #fff!important;
    }
}

.wpcf7-not-valid-tip {
    font-size: 14px;
    margin-top: 10px;
}

.wpcf7 form .wpcf7-response-output {
    text-align: right;
    border:none;
    color:pink;
    padding:0px;
}

form .wpcf7-not-valid {
    background:#ffe6e6!important;
}

.mr-star-rating {
    padding-bottom: 15px;
    color:$red;
    display:block;
    i {
        margin-left: 2px;
        margin-right: 2px;        
    }
}

.video__holder {
    margin-bottom: 30px;
    iframe {
        display:block;
        margin:0px auto;
    }
}

.pagination-block {
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 40px;
    .pages {
        display: none;
    }
    a, span {
        position: relative;
        display: inline-block;
        padding: 1rem 1.7rem;
        margin-left: -1px;
        line-height: 1.25;
        color: $yellow;
        background-color: $brown;
        border: 1px solid #ddd;
        font-family: $fil-reg;
        font-size: 26px;
        @include bp(desktop) {
            font-size: 24px;
            padding: .9rem 1.6rem;
        }
        @include bp(lg) {
            font-size: 22px;
            padding: .8rem 1.5rem;
        }
        @include bp(md) {
            font-size: 20px;
            padding: .7rem 1.4rem;
        }
        @include bp(sm-down) {
            font-size: 18px;
            padding: .6em 1.3rem;
        }
        &:hover {
            color: $yellow;
            text-decoration: none;
            background-color: #e9ecef;
            border-color: #dee2e6
        }
        &:focus {
            z-index: 2;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25)
        }
        // Opinionated: add "hand" cursor to non-disabled .page-link elements
        &:not(:disabled):not(.disabled) {
            cursor: pointer;
        }        
    }
    span.current {
        background:$red;
        border-color:$white;
        color:$white;
    }
}

.menu-sitemap-menu-container {
    ul {
        ul {
            padding-top: 15px;
            li {
                font-size: 15px;
                margin-bottom: 10px!important;
                a {
                    color:#dac4ae;
                }
            }
        }
    }
}

// City
.city-photo {
    img {
        border-radius:100%;
        padding:25px;
        border:3px solid #dac4ae;
        width: 550px;
    }
}

.city-ctas {
    margin-top: 0px!important;
    @include bp(lg-down) {
        margin-top: 40px!important;
    }
}

section#single-city {
    padding-top: 100px;
    padding-bottom: 100px;
    .container {
    }
    // city intro
    .city-intro {
        max-width: 1100px;
        margin:0px auto;
        h2 {
            @include heading-font;
        }
        p {

        }
    }
    // full
    .city-full {
        max-width: 1100px;
        margin:0px auto;        
        margin-bottom: 50px;
        h2 {
            @include heading-font;
        }
        p {
            @include regular-text;
            a {
                color:$yellow;
                &:hover {
                    color:$red;
                }
            }
        }
        h3 {
            color:$brown-light;
            font-size: 1.5em;
            margin-bottom: 30px;
        }
        ul {
            margin-bottom: 30px;
            li {
                color:$white;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 20px;
                position: relative;
                &:before {
                    width: 5px;
                    height: 5px;
                    background:$yellow;
                    content:'';
                    position: absolute;
                    left:0px;
                    top:20px;
                    border-radius:100%;
                }
                a {
                    color:$yellow;
                    &:hover {
                        color:$red;
                    }      
                }
            }
        }
    }
    // image
    .city-image--full {
        max-width: 1100px;
        margin:0px auto;        
        margin-bottom: 50px;
        img {
            max-width: 100%;
            border-radius: 12px;
            display:block;
            margin:0px auto;
        }
    }
    // cta bottom
    .quote-title {
        display: block;
        font-family: $fil-bold;
        font-size: 2em;
        line-height: 1.75;
        text-align: center;
        color: $red;
        margin-bottom: 60px;
        @include bp(desktop) {
            font-size: 1.9em;
            margin-bottom: 50px;
        }
        @include bp(lg) {
            font-size: 1.7em;
            margin-bottom: 50px;
        }
        @include bp(md) {
            font-size: 1.5em;
            margin-top: 50px;
        }
        @include bp(sm-down) {
            font-size: 1.4em;   
            margin-bottom: 40px;
        }        
    }
}

// Brands
.brand-logos {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include bp(sm-down) {
        display:block;
        margin-top: 15px;
    }
    .brand-item {
        margin-left: 25px;
        margin-right: 25px;
        @include bp(sm-down) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    img {
        max-width: 150px;
    }
}


// Datepicker
.ui-datepicker {
    padding-bottom: 50px!important;

    .ui-datepicker-calendar {
        &:after {
            content:'lower rates';
            position: absolute;
            bottom:20px;
            right:20px;
            font-family: $font-heading;
            font-size: 18px;
            background:$orange;
            color:$white;
            border-radius: 6px;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 3px;
            padding-bottom: 3px;
        }
        td.ui-datepicker-other-month {
            opacity: 0.3;
        }
        td.ui-datepicker-today {
            a {
                background:$red!important;
                color:$white;
                border-radius: 6px;
            }
        }
        td.event.ui-datepicker-today {
            a {
                background:$red!important;
                color:$white!important;
                border-radius: 6px;
                &:after {
                    display: none;
                }
            }
        }
        a.ui-state-active {
            background:$white!important;
            color:$orange!important;
        }
        .event {
            // border-bottom: 7px solid #ffd366;
            // border-radius: 2px;
            a {
                position: relative;
                &:after {
                    width: 100%;
                    height: 5px;
                    background:$orange;
                    content:'';
                    display: block;
                    bottom:0px;
                    left:0px;
                    border-radius: 8px;
                    position: absolute;
                    left:0px;
                    bottom:-3px;
                }
            }
        }
    }
}