// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$black:#000;
$white:#fff;
$brown: #3c2929;
$brown-light:#dac4ae;
$brown-dark: #2d1818;
$yellow: #d4a629;
$red: #d41615;


// font default size
$base-size: 16px;
