// Import fonts and fonts variables

@font-face {
    font-family: 'Filson Soft Black';
    src: url('../fonts/FilsonSoftBlack.woff2') format('woff2'),
        url('../fonts/FilsonSoftBlack.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Soft Book';
    src: url('../fonts/FilsonSoftBook.woff2') format('woff2'),
        url('../fonts/FilsonSoftBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Soft Bold';
    src: url('../fonts/FilsonSoft-Bold.woff2') format('woff2'),
        url('../fonts/FilsonSoft-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Soft Heavy';
    src: url('../fonts/FilsonSoftHeavy.woff2') format('woff2'),
        url('../fonts/FilsonSoftHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Soft Light';
    src: url('../fonts/FilsonSoftLight.woff2') format('woff2'),
        url('../fonts/FilsonSoftLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Soft Medium';
    src: url('../fonts/FilsonSoftMedium.woff2') format('woff2'),
        url('../fonts/FilsonSoftMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Soft Regular';
    src: url('../fonts/FilsonSoftRegular.woff2') format('woff2'),
        url('../fonts/FilsonSoftRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Filson Soft Regular Italic';
    src: url('../fonts/FilsonSoftRegular-Italic.woff2') format('woff2'),
        url('../fonts/FilsonSoftRegular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Bilo Light';
    src: url('../fonts/Bilo-Light.woff2') format('woff2'),
        url('../fonts/Bilo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bilo ExtraBold';
    src: url('../fonts/Bilo-ExtraBold.woff2') format('woff2'),
        url('../fonts/Bilo-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}






$fil-light: 'Filson Soft Light';
$fil-reg: 'Filson Soft Regular';
$fil-med: 'Filson Soft Medium';
$fil-book: 'Filson Soft Book';
$fil-bold: 'Filson Soft Bold';
$fil-black: 'Filson Soft Black';
$fil-regi: 'Filson Soft Regular Italic';

$bilo-ebold: 'Bilo ExtraBold';
$bilo-light: 'Bilo Light';

$font-main: 'Filson Soft Regular';
$font-heading:  'Filson Soft Bold';



body { 
	font: {
		size:$base-size;
		family: $font-main;
	}
	-webkit-text-size-adjust: 100%;  //fix for iOS
    overflow-x:hidden;    
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 30px;
    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

h1, h2, h3, h4, h5, h6 {
}

// reset
a {
    @include animate-fade;
    &:hover {
        text-decoration: none;
    }
}

a, button, input, textarea {
    &:focus {
        outline: none!important;
    }
}

address {
    margin:0px;
    padding:0px;
}

i {
    font-style: normal;
}

