@font-face {
    font-family: 'Bilo';
    src: url('Bilo-Light.woff2') format('woff2'),
        url('Bilo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bilo';
    src: url('Bilo-ExtraBold.woff2') format('woff2'),
        url('Bilo-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Billo';
    src: url('Billo.woff2') format('woff2'),
        url('Billo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

