// 0. Path.
$assets: '../img';

// 1. Colors.
$black:#000;
$white:#fff;
$brown: #3c2929;
$brown-light:#dac4ae;
$brown-dark: #2d1818;
$yellow: #d4a629;
$red: #d41615;
$green: #32c832;
$orange: #f16e00;

// 2. Sizes
$base-size:16px;



